@media screen and (max-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    .header{
        height:60px;
        line-height: 30px;
    }
    .top{
        margin-top:60px;
    }
    .header-list ol{
        display:none;
    }
    .header h2{
        display:inline-block;

        width:100%;
        text-align: center;
    }
    .menu-icon{
        display:block;
    }
    /*ここからメインのレスポンシブです*/
    .main span{
        display:block;
        float: right;
        padding-right:5px;
    }
    .main h2{
        width:95%;
    }
    .res-open{
        display:none;
    }
    .contact{
        flex-direction: column;
        text-align:left;
    }
    .bottom{
        width:100%;
    }
    .sns-list ol{
        display:none;
    }
    .sns-list-res ul{
        float:center;
        padding-inline-start:0;

    }
    .sns-list-res ol{
        display: block;
        padding-inline-start:0;
        flex: auto;
        padding:0 10px;
    }
    .sns-list-res span{
        color:white;
        font-size:30px;
        padding:15px;
        border-radius:50%;
    }
    .fa-twitter{
        background-color: #1DA1F2;
    }
    .fa-facebook-f{
        background-color:#3B5998;
        padding:0 20px;
    }
    .fa-github{
    background-color: #444444;
    }
    .fa-instagram{
        background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
        overflow: hidden;/*はみ出た部分を隠す*/
        text-decoration:none;/*下線は消す*/
    }
    .fa-instagram:before{
        background: -webkit-linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
        background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/

}